/Videos
/Templates
/temp
/snap
/Public
/Music
/git
/Downloads
/Documents
/Desktop
/.vim
/.ssh
/.rustup
/.pki
/.nvm
/.local
/.gnupg
/.cfg
/.cargo
/.cache
/.build
/.config/google-chrome

*.log
.wget-hsts
.viminfo
.sudo_as_admin_successful
.lesshst
.bash_logout
.bash_history
